/* Fontes */
@font-face {
    font-family: 'BreeSerif';
    src: url(../fonts/BreeSerif/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: 'Shantell';
    src: url(../fonts/Shantell/static/ShantellSans-Regular.ttf);
}

/* Configuração geral */
*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Parte do header */
header{
    display: flex;
    flex-direction: column;
}

#banner{
    width: 100%;
    height: auto;
}

#logo{
    width: 40%;
    align-self: center;
    margin-top: -8%;
    margin-bottom: 3%;
}

#hrtilte{
    width: 20%;
    height: 3px; 
    background-color: black; 
    align-self: center;
    margin-bottom: 1%;
}

#title{
    font-family: 'BreeSerif';
    align-self: center;
    font-size: 40px;
}


/* Navbar */
#ImgNavbar{
    position: absolute;
    top: 0;
    width: 10%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(255, 105, 180, 0.7);
}

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    background: linear-gradient(to right, #48A8F9 , #6a85d6, #D33699);
    height: 0%;
    width: 100%;
    transition: height 0.5s ease;
    z-index: 15;
}

.navbaritem{
    height: auto;
    margin-top: -6%;
}

.linkNav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    text-decoration: none;
}

.navbarIcons{
    width: 20%;
}


.linkNav > h1{
    font-family: 'Shantell';
    &:not(.active){
        color: white;
    }
}

.active{
    color: #3C06A2;
}

.wavenabar{
    position: absolute;
    bottom: 0;
    width: 0%;
    margin-bottom: -1%;
}

.OnWave{
    width: 100%;
}

.On{
    height: 35%;  
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 10;
    cursor: pointer;
  }

  .OnOverlay{
    display: block; 
  }

/* Sobre, Missão e valores */
p, li{
    font-size: 20px;
}
p, li, h2{
    font-family: 'Shantell';
    color: white;
    text-align: justify;
}

.waveup{
    margin-bottom: -2%;
    margin-left: -1%;
}

.wavedown{
    margin-top: -2%;
    margin-right: -1%;
}

#sobre{
    display: flex;
    flex-direction: column;
}

#text1{
    display: flex;
    background-color: #48A8F9;
    padding: 2% 6% 20% 6%;

}

#text1 > p{
    text-align: justify;
}


#pinkplace{
    display: flex;
    flex-direction: column;
    margin-top: -15%;
}


#text2{
    display: flex;
    background-color: #d33699;
    padding: 3% 2% 3% 2%;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0% 4% 0% 4%;
}

.column > h2{
    margin: 2% 0% 4% 0%;
    align-self: center;

}


/* Destaques do mês */
#title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0%;
}

#subimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
}

.fire{
    width: 5%;
    margin: 0% 1%;
    align-self: center;
}


/* Modelos */
#roupas{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.divmodels{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
}

.models{
    width: 30%;
    min-height: 100%;
}

/* Contatos */
#contacts{
    display: flex;
    flex-direction: column;
}

#cttspace > h1 {
    margin-bottom: 4%;
}

#footerpink{
    margin-bottom: -8%;
}

#footerblue{
    margin-bottom: -1%;
}

.footerwaves{
    margin-left: -2%;
    margin-right: -2%;
}

#cttspace{
    background-color: #48A8F9;
    display: flex;
    flex-direction: column;
}

#icons{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    gap: 3%;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}


.socialicon{
    width: 40%;
    height: auto;
    align-self: center;
}

.vertical-line{
    width: 2px; 
    height: auto; 
    background-color: black; 
}

/*  Telas médias */
@media screen and (max-width: 800px) {
    #ImgNavbar{
        width: 15%;
        cursor: pointer;
    }

}
/* Telas pequenas */
@media screen and (max-width: 630px) { 
    /* Header */
    #logo{
        width: 50%;
    }

    #hrtilte{
        width: 40%;
    }

    #title{
        font-size: 25px;
    }
    
    /* Navbar */
    #ImgNavbar{
        width: 20%;
    }
    .Navbar{
        display: none;
        flex-direction: column;
        align-items: center;
        height: 0%;
        width: 100%;
        overflow: hidden;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10%;    
    }

    .navbaritem{
        margin-top: 1%;
        max-height: 40%;
        width: 50%;
        
    }
    
    .linkNav{
        justify-content: start;
    }

    .navbaritem:first-child {
        margin-top: 2%
    }

    .navbarIcons{
        width: 23%;
    }
    

    .linkNav > h1{
        font-family: 'Shantell';
        font-size: 200%;
        &:not(.active){
            color: white;
        }
    }
    
    .active{
        color: #3C06A2;
    }
    
    .wavenabar{
        position: absolute;
        bottom: 0;
    
    }

    .On{
        display: flex;
        height: 40%;
    }

    .OnWave{
        width: 140%;
    }

    /* Sobre, Missão e valores */
    #text1{
        padding-bottom: 30%;
    }

    #text2{
        display: block;
        padding: 3% 2% 3% 2%;
    }

    .column{
        width: 80%;
        margin: 15% auto;
    }

    .socialicon{
        width: 30%;
        height: auto;
    }

    .models {
        width: calc(70% - 10px);
        margin: 5% auto;
    }
}