@font-face {
    font-family: 'BreeSerif';
    src: url(fonts/BreeSerif/BreeSerif-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
}

#banner{
    width: 100%;
    height: auto;
}

#logo{
    width: 40%;
    align-self: center;
    margin-top: -8%;
    margin-bottom: 3%;
}

#hrtilte{
    width: 20%;
    height: 3px; 
    background-color: black; 
    align-self: center;
}

#sobre{
    font-family: 'BreeSerif';
    align-self: center;
    font-size: 40px;
}


@media screen and (max-width: 576px) { 
    #logo{
        width: 50%;
    }

    #hrtilte{
        width: 40%;
    }

    #sobre{
        font-size: 25px;
    }
}